<h1>New Room</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@room) do |r| %>

      <%= render 'shared/error_new_room_messages' %>

      <%= r.label "Room name" %>
      <%= r.text_field :name %>

      <%= r.submit "Create new room", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>